.icon-dark {
    color: #555; /* Gris oscuro para los iconos */
  }

  .sign-out {
    color: red; /* Rojo para el botón de cerrar sesión */
  }

  ion-label {
    color: blue; /* Azul para el texto adicional */
  }
