
<ion-header>

<ion-header class="color-cabecera-fondo">
  <ion-img src="assets/img/images.png" alt="Vision Tienda" class="img1"></ion-img>

  <ion-toolbar>
    <ion-title class="color-cabecera">
      <strong>TIENDA INFORMÁTICA</strong> App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-pantalla">





      <ion-tab-button tab="store" routerLink="../my-store">
        <ion-icon name="storefront-outline"></ion-icon>
        <ion-label>Tiendas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="employee" routerLink="/my-employee">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Empleados</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="suplier" routerLink="/my-suplier">
        <ion-icon name="cube-outline"></ion-icon>
        <ion-label>Proveedores</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="product" routerLink="/my-product">
        <ion-icon name="pricetag-outline"></ion-icon>
        <ion-label>Productos</ion-label>
      </ion-tab-button>




  <ion-button expand="block" (click)="gotoMyStore()" routerLink="/my-store">
    Mostrar Tiendas
  </ion-button>


</ion-content>


