<ion-header class="color-cabecera-fondo">
  <ion-toolbar>
    <ion-title class="color-cabecera">
      <strong>TIENDA INFORMATICA</strong>App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs class="color-cabecera-fondo">
<ion-tab-bar slot="bottom">
  <ion-tab-button tab="search">
      <ion-icon name="storefront-outline" routerLink="/my-store"></ion-icon>
      Tiendas
    </ion-tab-button>

     <ion-tab-button tab="search">
      <ion-icon name="employeesfront-outline" routerLink="/my-employee"></ion-icon>
      Empleados
    </ion-tab-button>

     <ion-tab-button tab="search">
      <ion-icon name="supliersfront-outline" routerLink="/my-suplier"></ion-icon>
      Proveedores
    </ion-tab-button>

     <ion-tab-button tab="search">
      <ion-icon name="productsfront-outline" routerLink="/my-product"></ion-icon>
      Productos
    </ion-tab-button>

</ion-tab-bar>
</ion-tabs>

<ion-content [fullscreen]="true">


  <ion-button expand="block" (click)="gotoMyStore()">Show Store</ion-button>

</ion-content>
