<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">my-store</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Barra de búsqueda -->
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterStore()" placeholder="Buscar Tienda..." showCancelButton="focus"></ion-searchbar>

  <!-- Lista de Tienda -->
   <ion-card *ngFor="let store of filteredStore">
    <ion-card-header>
      <ion-card-title>{{ tienda.nombre }}</ion-card-title>
    </ion-card-header>

     <ion-card-content>
      <p>{{ tienda.direccion }}</p>
      <p>{{ tienda.email }}</p>
      <p>{{ tienda.telefono }}</p>
     </ion-card-content>

      <!-- Botones de Borrar y Editar (Reemplazado ion-card-footer por ion-item) -->
        <ion-item>
      <ion-button color="danger" (click)="presentConfirm(tienda.id)">Eliminar</ion-button>
      <ion-button color="primary" (click)="editStore(tienda.id)">Editar</ion-button>
    </ion-item>

   </ion-card>

</ion-content>

<!-- Botón FAB para añadir nueva tienda (izquierda) -->
<ion-fab slot="fixed" vertical="bottom" horizontal="start">
  <ion-fab-button color="secondary" routerLink="/add-store-form">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- Botón FAB para ir a Home (derecha) -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="home-outline" routerLink="/home"></ion-icon>
  </ion-fab-button>
</ion-fab>
