<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mis Tiendas</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-store-form">
        <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Campo de búsqueda -->
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterStore()" placeholder="Buscar tienda..."></ion-searchbar>

  <!-- Lista de tiendas -->
  <ion-list>
    <ion-card *ngFor="let tienda of filteredStore">
      <ion-card-header>
        <ion-card-title>{{ tienda.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ tienda.direccion }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Email:</strong> {{ tienda.email }}</p>
        <p><strong>Teléfono:</strong> {{ tienda.telefono }}</p>

        <ion-button fill="outline" size="small" color="success" [routerLink]="['/edit-store', tienda.id]">
          <ion-icon name="create-outline" slot="start"></ion-icon>
          Editar
        </ion-button>


        <ion-button fill="outline" size="small" color="danger" (click)="presentConfirm(tienda.id)">
          <ion-icon name="trash-outline" slot="start"></ion-icon>
          Eliminar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
