<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Empleados</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-employee-form">
        <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- 🔍 Barra de búsqueda -->
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterEmployee()" placeholder="Buscar Empleado..." animated
    color="light">
  </ion-searchbar>

  <!-- 📋 Lista de empleados -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let empleado of filteredEmployee">

        <!-- 💳 Tarjeta de empleado -->
        <ion-card class="employee-card">

          <!-- 🖼 Imagen superior -->
          <ion-img [src]="empleado.imagenUrl || 'assets/img/default-employee.jpg'" alt="Imagen de empleado"
            class="employee-image">
          </ion-img>

          <ion-card-header>
            <ion-card-title class="employee-title">
              <ion-icon name="id-card-outline" class="employee-icon"></ion-icon>
              {{ empleado.nombre }}
            </ion-card-title>
            <ion-card-subtitle>
              <ion-icon name="id-card-outline"></ion-icon>
              {{ empleado.apellido }}
            </ion-card-subtitle>
            <ion-card-subtitle>
              <ion-icon name="people-circle-outline"></ion-icon>
              {{ empleado.tipo_empleado }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p><ion-icon name="mail-outline"></ion-icon> {{ empleado.email }}</p>
            <p><ion-icon name="call-outline"></ion-icon> {{ empleado.telefono }}</p>

            <div class="button-row">
              <ion-button fill="solid" size="small" color="success" (click)="goToEdit(empleado.id)">
                <ion-icon name="create-outline" slot="start"></ion-icon>
                Editar
              </ion-button>

              <ion-button fill="solid" size="small" color="danger" (click)="presentConfirm(empleado.id)">
                <ion-icon name="trash-outline" slot="start"></ion-icon>
                Eliminar
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
