register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente */
    max-width: 400px; /* Limitar el ancho del formulario */
    margin: auto; /* Centrar horizontalmente */
    padding: 20px; /* Espacio interior */
    background-color: #fff; /* Fondo blanco para el formulario */
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de elevación */
    height: calc(100% - 40px); /* Ocupa casi toda la altura del contenido */
  }

  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }

  .footer-links {
    margin-top: 20px;
    text-align: center; /* Asegurarse que el texto esté centrado */
  }
  .icon-blue {
    color: #007bff; /* Azul */
  }
.shield-icon{
  width: 40%;
  height: 520px;
  object-fit: contain;
  background-color: #2c2c3c;
  padding: 10px;
}
